<div class="container">
  <header-i18n showLangText="false" class="langs"></header-i18n>
  <div class="wrap">
    <div class="top">
      <div class="head">
        <!--  <span class="title">  --><img class="logo" src="./assets/img/bitwarelog.png" /><!-- </span> -->
      </div>
      <!--  <div class="desc">武林中最有影响力的《葵花宝典》；欲练神功，挥刀自宫</div> -->
    </div>
    <router-outlet></router-outlet>
    <global-footer [links]="links">
      Copyright
      <i class="anticon anticon-copyright"></i> 2019
      <a href="http://www.bit-ware.com.cn" target="_blank">青岛比特微尔软件开发有限公司</a>出品
    </global-footer>
  </div>
</div>
