<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitware.mapper.LeaveMapper">

    <resultMap id="leaveMap" type="com.bitware.bean.LeaveInfo">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="leave_type" property="leaveType"/>
        <result column="title" property="title"/>
        <result column="begin_time" property="beginTime"/>
        <result column="end_time" property="endTime"/>
        <result column="reason" property="reason"/>
        <result column="order_no" property="orderNo"/>
        <result column="create_time" property="createTime"/>
        <result column="userName" property="userName"/>
        <result column="leaveTypeName" property="leaveTypeName"/>
        <result column="auditorName" property="auditorName"/>
        <result column="reviewerName" property="reviewerName"/>
        <result column="status" property="status"/>
        <result column="img" property="img"/>
        <result column="date_type" property="dateType"/>
        <result column="statusName" property="statusName"/>
    </resultMap>
    <resultMap id="leaveAuditMap" type="com.bitware.bean.LeaveAudit">
        <result column="auditor" property="auditor"/>
        <result column="type" property="type"/>
        <result column="status" property="status"/>
        <result column="reason" property="reason"/>
        <result column="leave_id" property="leaveId"/>
        <result column="auditorName" property="auditorName"/>
        <result column="typeName" property="typeName"/>
        <result column="time" property="time"/>
    </resultMap>
    <sql id="baseLeave">
        id,user_id,leave_type,title,begin_time,end_time,reason,order_no,status,create_time
    </sql>
    <select id="getLeaveById" resultMap="leaveMap">
        SELECT
        o. NAME AS leaveTypeName,
        o1. NAME AS statusName,
        u. NAME AS userName,
        l.*
        FROM
        `leave` l
        LEFT JOIN `user` u ON l.user_id = u.id
        LEFT JOIN (
        SELECT
        di.*
        FROM
        dictionary_item di
        LEFT JOIN dictionary dic ON dic.id = di.dictionary_id
        AND dic. CODE = 'LeaveType'
        ) o ON o. CODE = l.leave_type
        LEFT JOIN (
        SELECT
        di.*
        FROM
        dictionary_item di
        LEFT JOIN dictionary dic ON dic.id = di.dictionary_id
        AND dic. CODE = 'LeaveStatus'
        ) o1 ON o1. DATA = l.`status`
        <if test="id != null and id != 'all'">
            where id = #{id}
        </if>
        order by l.create_time desc
    </select>
    <select id="getLeaveByUserId" resultMap="leaveMap">
        SELECT
        o. NAME AS leaveTypeName,
        o1. NAME AS statusName,
        u. NAME AS userName,
        l.*
        FROM
        `leave` l
        LEFT JOIN `user` u ON l.user_id = u.id
        LEFT JOIN (
        SELECT
        di.*
        FROM
        dictionary_item di
        LEFT JOIN dictionary dic ON dic.id = di.dictionary_id
        AND dic. CODE = 'LeaveType'
        ) o ON o. CODE = l.leave_type
        LEFT JOIN (
        SELECT
        di.*
        FROM
        dictionary_item di
        LEFT JOIN dictionary dic ON dic.id = di.dictionary_id
        AND dic. CODE = 'LeaveStatus'
        ) o1 ON o1. DATA = l.`status`
        <if test="userId != null and userId != 'all'">
            where l.user_id = #{userId}
        </if>
        ORDER BY
        l.create_time DESC
    </select>
    <select id="getLeaveProcessByLeaveId" resultMap="leaveAuditMap">
        SELECT
            la.*, u. NAME AS AuditorName,
            o. NAME AS typeName
        FROM
            leave_audit la
        LEFT JOIN USER u ON u.id = la.auditor
        LEFT JOIN (
            SELECT
                di.*
            FROM
                dictionary_item di
            LEFT JOIN dictionary dic ON dic.id = di.dictionary_id
            AND dic.`code` = 'AuditType'
        ) o ON o. CODE = la.type
        WHERE
            la.leave_id = #{leaveId}
        ORDER BY
            o.order_no
    </select>
    <insert id="insertLeave">
       INSERT INTO `leave`
       VALUES
       (#{id}, #{userId}, #{leaveType}, #{title},#{beginTime}, #{endTime}, #{reason}, #{orderNo} ,now(),'0',#{img},#{dateType});
    </insert>
    <insert id="insertAudit">
        INSERT INTO `leave_audit`
         VALUES
        (null, #{type}, #{status}, null,#{leaveId},null);
    </insert>

    <select id="getLeaveByRoleId" resultMap="leaveMap">
            SELECT
                o. NAME AS leaveTypeName,
                o2. NAME AS statusName,
                u. NAME AS userName,
                l.*, o1.type
            FROM
                `leave` l
            RIGHT JOIN (
                SELECT
                    *
                FROM
                    leave_audit la
                WHERE
                    type IN (
                        SELECT
                            CODE
                        FROM
                            resource r
                        LEFT JOIN role_auth ra ON ra.resource_id = r.id
                        WHERE
                            ra.role_id = #{roleId}
                    )
            ) o1 ON o1.leave_id = l.id
            LEFT JOIN `user` u ON l.user_id = u.id
            LEFT JOIN (
                SELECT
                    di.*
                FROM
                    dictionary_item di
                LEFT JOIN dictionary dic ON dic.id = di.dictionary_id
                AND dic. CODE = 'LeaveType'
            ) o ON o. CODE = l.leave_type
            LEFT JOIN (
                SELECT
                    di.*
                FROM
                    dictionary_item di
                LEFT JOIN dictionary dic ON dic.id = di.dictionary_id
                AND dic. CODE = 'LeaveStatus'
            ) o2 ON o2. DATA = l. STATUS
            ORDER BY
                l.create_time DESC
    </select>

</mapper>