<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitware.mapper.SecurityMapper">

    <resultMap id="userInfoMap" type="com.bitware.bean.UserInfo">
        <id column="id" property="id"/>
        <result column="user_account" property="userAccount"/>
        <result column="name" property="name"/>
        <result column="password" property="password"/>
        <result column="create_Date" property="createDate"/>
        <result column="last_login_date" property="lastLoginDate"/>
        <result column="email" property="email"/>
        <result column="remark" property="remark"/>
        <result column="is_delete" property="isDelete"/>
        <result column="is_enable" property="isEnable"/>
        <result column="org_id" property="orgId"/>
        <result column="tel" property="tel"/>
        <result column="avatar" property="avatar"/>
        <result column="role_id" property="roleId"/>
        <result column="role_name" property="roleName"/>
        <result column="role" property="role"/>
    </resultMap>
    <resultMap id="roleMap" type="com.bitware.bean.RoleInfo">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="code" property="code"/>
        <result column="remark" property="remark"/>
        <result column="order_no" property="orderNo"/>
    </resultMap>
    <resultMap id="ResourceMap" type="com.bitware.bean.ResourceInfo">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="parent_id" property="parentId"/>
        <result column="order_no" property="orderNo"/>
        <result column="description" property="description"/>
        <result column="menu_icon" property="menuIcon"/>
        <result column="url" property="url"/>
        <result column="category" property="category"/>
        <result column="enabled" property="enabled"/>
        <result column="update_date" property="updateDate"/>
        <result column="code" property="code"/>
    </resultMap>

    <sql id="baseUser">
        id,user_account,name,password,create_Date,last_login_date,email,remark,is_delete,is_enable,org_id,tel,avatar
    </sql>
    <select id="getUserInfoByUserAccount" resultMap="userInfoMap">
        SELECT
        u.*,ur.role_id,r. NAME AS role_name,r.code as role
        FROM
        USER u
        LEFT JOIN user_role ur ON ur.user_id = u.id
        LEFT JOIN role r ON r.id = ur.role_id
        <if test="userAccount != null and userAccount != ''">
            where u.user_account = #{userAccount}
        </if>
    </select>
    <select id="getResourceByRoleId" resultMap="ResourceMap">
        SELECT
        DISTINCT r.*
        FROM
        resource r
        LEFT JOIN role_auth ra ON r.id = ra.resource_id
        <where>
            <if test="category != '' and  category != null">
                category = #{category}
            </if>
            <if test="roleId != '' and roleId != null">
                and role_id = #{roleId}
            </if>
            <if test="code != '' and code != null">
                and code = #{code}
            </if>
        </where>
        order by order_no
    </select>
    <select id="getRoleList" resultMap="roleMap">
            SELECT
                *
            FROM
                role
            ORDER BY
                order_no
    </select>
    <update id="insertRoleResource">
        insert into role_auth
        ( role_id,resource_id)
        values
        <foreach collection="resourceIds" item="resourceId" index="index" separator=",">
            (
            #{roleId},
            #{resourceId}
            )
        </foreach>

    </update>
    <delete id="deleteRoleResource">
        DELETE FROM role_auth WHERE role_id = #{roleId} and resource_id IN
        <foreach collection="resourceIds" item="resourceId" open="(" separator="," close=")">
            #{resourceId}
        </foreach>
    </delete>
    <insert id="insertUser">
        INSERT INTO `user`
        (<include refid="baseUser"/>)
        VALUES(#{id},#{userAccount},#{name},#{password},now(),#{lastLoginDate},#{email},#{remark},0,1,#{orgId},#{tel},#{avatar})
    </insert>

    <insert id="updateUserRole">
        INSERT INTO user_role
        (user_id,role_id)
        VALUES
        <foreach item="item" index="key" collection="userRoleList" open="" separator="," close="">
            (#{item.userId},#{item.roleId})
        </foreach>
        ON DUPLICATE KEY UPDATE
        user_id = VALUES(user_id),role_id = VALUES(role_id)
    </insert>
    <insert id="insertRole">
        INSERT INTO role
        (id,name,remark,order_no,code)
        VALUES
        <foreach item="item" index="key" collection="roleInfoList" open="" separator="," close="">
            (#{item.id},#{item.name},#{item.remark},#{item.orderNo},#{item.code})
        </foreach>
    </insert>
</mapper>