<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitware.mapper.ShareMapper">

    <resultMap id="dicItemMap" type="com.bitware.bean.DictionaryItem">
        <id column="id" property="id"/>
        <result column="code" property="code"/>
        <result column="name" property="name"/>
        <result column="dictionary_id" property="dictionaryId"/>
        <result column="parent_id" property="parentId"/>
        <result column="order_no" property="orderNo"/>
    </resultMap>

    <resultMap id="ResourceMap" type="com.bitware.bean.ResourceInfo">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="parent_id" property="parentId"/>
        <result column="order_no" property="orderNo"/>
        <result column="description" property="description"/>
        <result column="menu_icon" property="menuIcon"/>
        <result column="url" property="url"/>
        <result column="category" property="category"/>
        <result column="enabled" property="enabled"/>
        <result column="update_date" property="updateDate"/>
        <result column="code" property="code"/>
    </resultMap>

    <sql id="baseDicItem">
        id,code,name,dictionary_id,parent_id,order_no
    </sql>
    <select id="getDictionary" resultMap="dicItemMap">
        SELECT
	    di.*
        FROM
            dictionary_item di
            LEFT JOIN dictionary dic ON dic.id = di.dictionary_id
        <where>
            <if test="dicCode != 'all'">
                dic.`code` = #{dicCode}
            </if>
            <if test="dicItemCode != 'all'">
                and  di.`code` = #{dicItemCode}
            </if>
        </where>
        order by di.order_no
    </select>

    <select id="getResourceByRoleId" resultMap="ResourceMap">
        SELECT
        r.*
        FROM
        resource r
        LEFT JOIN role_auth ra ON r.id = ra.resource_id
        <where>
            <if test="category != '' and  category != null">
                category = #{category}
             </if>
            <if test="roleId != '' and roleId != null">
                and role_id = #{roleId}
            </if>
            <if test="code != '' and code != null">
                and code = #{code}
            </if>
        </where>
        order by order_no
    </select>
</mapper>