<nz-spin [nzTip]="'请稍后..'"
         [nzSpinning]="isLoading">

  <page-header title="请假编号 : {{ leave.orderNo }}"
               autoBreadcrumb="false"
               [action]="action"
               [extra]="extra">

    <!--         <!--  [logo]="logo" -->
    <!--   <ng-template #logo>
    <img src="https://gw.alipayobjects.com/zos/rmsportal/nxkuOJlFJuAUhzlMTCEe.png" />
  </ng-template> -->
    <ng-template #action>

      <button nz-button
              [nzType]="'primary'"
              (click)="getLeaveList()">刷新</button>
      <button nz-button
              class="margin-left-10"
              [nzType]="'primary'"
              nz-popconfirm
              nzTitle="确定要撤销当前申请吗？(会完全移除申请流程记录)"
              (nzOnConfirm)="cancelApply(leave)">撤销申请</button>
    </ng-template>
    <ng-template #extra>
      <div nz-row>
        <div nz-col
             nzXs="24"
             nzSm="12">
          <p class="text-grey"
             style="margin-right: 17px;">状态</p>
          <p class="text-lg">
            <ng-container *ngIf="this.leaveList.length > 0">
              <nz-tag style="height: 30px;
          font-size: 14px;
          line-height: 30px;
          margin-right: 0px;"
                      [nzColor]="leave.status == 9 ? 'red' : leave.status == 10 ? 'green' : '#108ee9'">
                {{ leave.statusName }}</nz-tag>
            </ng-container>
          </p>
        </div>
        <!--  <div nz-col nzXs="24" nzSm="12">
        <p class="text-grey">订单金额</p>
        <p class="text-lg">¥ 568.08</p>
      </div> -->
      </div>
    </ng-template>
    <leave-detail [leave]="leave"></leave-detail>
  </page-header>
  <nz-card [nzBordered]="false"
           class="mb-lg"
           nzTitle="流程进度">
    <nz-steps [nzCurrent]="currentProcess('current')">
      <!-- [nzStatus]="currentProcess('status')" -->
      <nz-step [nzTitle]="item.title"
               [nzStatus]='item.status'
               [nzDescription]="createDesc"
               *ngFor="let item of steps">
        <!--  [nzIcon]="item.icon" -->
        <ng-template #createDesc>
          <div class="desc">
            <div class="my-sm">
              <span *ngIf="item.status != 'process'&& item.status != 'wait' && item.isMain">审核人&nbsp;:&nbsp;</span>
              {{item.userName}}
            </div>
            <div class="my-sm"
                 style="width: max-content;"> <span
                    *ngIf="item.status != 'process'&& item.status != 'wait' && item.isMain">审核时间&nbsp;:&nbsp;</span>
              {{item.time | date:'yyyy-MM-dd HH:mm:ss'}}</div>
            <div style="width: max-content;"
                 class="my-sm"> <span
                    *ngIf="(item.status =='finish' || item.status == 'error') && item.isMain">{{item.status == 'finish'?'备注':'拒绝原因'}}&nbsp;:&nbsp;</span>
              {{item.reason}}</div>
            <div class="my-sm"
                 *ngIf="item.status == 'process'">
              <a (click)="msg.success('已催别点了')">催一下叮叮~</a>
            </div>
          </div>
        </ng-template>
      </nz-step>
    </nz-steps>
    <div class="steps-content"></div>
  </nz-card>
  <!--   </ng-container> -->
</nz-spin>
<nz-card nzBordered
         class="mb-lg"
         nzTitle="请假历史">
  <nz-table #leaveTable
            [nzData]="leaveList"
            nzBordered
            [nzLoading]="isLoading">
    <thead>
      <tr>
        <th nzAlign="center">编号</th>
        <th nzAlign="center">类型</th>
        <th nzAlign="center">标题</th>
        <th nzAlign="center">申请时间</th>
        <th nzAlign="center">请假时间</th>
        <th nzAlign="center">状态</th>
        <th nzAlign="center">操作</th>
        <!--  <th>Action</th> -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of leaveTable.data">
        <td nzAlign="center">{{item.orderNo}}</td>
        <td nzAlign="center">{{item.leaveTypeName}}</td>
        <td nzAlign="center">{{item.title}}</td>
        <td nzAlign="center">{{item.createTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
        <td nzAlign="center">
          <ng-container *ngIf="item.dateType === 'ALL'">
            {{ item.beginTime | date: 'yyyy-MM-dd' }} 到 {{ item.endTime | date: 'yyyy-MM-dd' }}
          </ng-container>
          <ng-container *ngIf="item.dateType != 'ALL'">
            {{ item.beginTime | date: 'yyyy-MM-dd' }} {{item.dateType == 'AM'?'上午':'下午'}}
          </ng-container>
        </td>
        <td nzAlign="center">
          <nz-tag [nzColor]="item.status == 9 ? 'red' : item.status == 10 ? 'green' : '#108ee9'">
            {{ item.statusName}}</nz-tag>
        </td>
        <td nzAlign="center">
          <button nz-button
                  [nzType]="'primary'"
                  (click)="lookDetail(item)"><i nz-icon
               nzType="search"
               nzTheme="outline"></i>查看详情</button>
        </td><!-- lookDetail(item) -->
        <!--    <td>
          <a>Action 一 {{item.name}}</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a>Delete</a>
        </td> -->
      </tr>
    </tbody>
  </nz-table>
</nz-card>
<nz-card [nzBordered]="false"
         nzTitle="年假情况"
         stlye="height:300px">
  <nz-row nzSpan="24">
    <nz-col nzSpan="12">
      <sv-container layout="vertical"
                    col="1">
        <sv label="入职时间">{{mySelf?.entryTime | date:'yyyy-MM-dd HH:mm:ss'}}</sv>
        <sv label="年假天数">{{annulLeaveDetail?.annualLeaveSum}} 天</sv>
        <sv label="请假实际天数">{{annulLeaveDetail?.finishLeaveSum}} 天</sv>
      </sv-container>
    </nz-col>
    <nz-col nzSpan="12">
      <app-vacation-detail [userId]="userId"
                           (emitAnnualLeave)="getAnnulLeave($event)"></app-vacation-detail>
    </nz-col>
  </nz-row>



</nz-card>