<form nz-form [formGroup]="userForm">
  <nz-form-item nzSpan="24">
    <nz-form-label nzSpan="4" nzRequired>姓名</nz-form-label>
    <nz-form-control nzSpan="8" [nzErrorTip]="nameErrTpl">
      <input nz-input formControlName="name" placeholder="请输入姓名" maxlength="4" />
      <ng-template #nameErrTpl let-control>
        <ng-container *ngIf="control.hasError('required')">
          姓名必输！
        </ng-container>
        <ng-container *ngIf="control.hasError('pattern')">
          姓名必须为中文！
        </ng-container>
      </ng-template>
    </nz-form-control>

    <nz-form-label nzSpan="4" nzRequired>账户名</nz-form-label>
    <nz-form-control nzSpan="8" [nzErrorTip]="userAccountErrTpl">
      <input nz-input formControlName="userAccount" placeholder="请输入账户名" />
      <ng-template #userAccountErrTpl let-control>
        <ng-container *ngIf="control.hasError('required')">
          账户名必输！
        </ng-container>
        <!--    <ng-container *ngIf="control.hasError('duplicated')">
            The username is redundant!
          </ng-container> -->
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item nzSpan="24">
    <nz-form-label nzSpan="4">手机号码</nz-form-label>
    <nz-form-control nzSpan="8" [nzErrorTip]="telErrorTpl">
      <input nz-input formControlName="tel" placeholder="请输入手机号码" type="text" />
      <ng-template #telErrorTpl let-control>
        <ng-container *ngIf="control.hasError('pattern')">
          手机号码格式错误！
        </ng-container>
        <!--         <ng-container *ngIf="control.hasError('required')">
          电话号码必输
        </ng-container> -->
      </ng-template>
    </nz-form-control>
    <nz-form-label nzSpan="4">邮箱</nz-form-label>
    <nz-form-control nzSpan="8" [nzErrorTip]="emailErrorTpl">
      <input nz-input formControlName="email" placeholder="请输入邮箱" type="text" />
      <ng-template #emailErrorTpl let-control>
        <ng-container *ngIf="control.hasError('pattern')">
          邮箱格式错误！
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
</form>
<nz-divider></nz-divider>
<nz-row style="text-align: right;">
  <nz-col>
    <button
      nz-button
      nzType="primary"
      [disabled]="userForm.invalid"
      type="submit"
      [nzLoading]="submitting"
      (click)="submit(userForm.value)"
    >
      提交
    </button>
    <button nz-button nzType="primary" (click)="userForm.reset()">
      重置
    </button>
  </nz-col>
</nz-row>
