/* You can add global styles to this file, and also import other style files */

.ant-table-thead>tr>th {
  label {
    color: #fff !important;
  }

  color: #fff !important;
  text-align: center;
  background: @primary-color;
}
