<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qzy.mapper.LoginLogMapper">

    <insert id="addLoginLog">
        INSERT  into t_loginlog VALUES (null,#{ip},#{no},now(),#{location})
    </insert>

    <select id="getLastLog" resultType="LoginLog">
        SELECT * FROM t_loginlog where no=#{no} ORDER BY createtime desc limit 0,10
    </select>

</mapper>