<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qzy.mapper.StudentMapper">
    <insert id="addStudent" parameterType="Student">
        insert into t_student values (null,#{no},#{name},#{sex},#{birthday},#{cardno},#{school},#{education},#{class_id},1,#{email},#{qq},#{phone},#{createdate},null,0)
    </insert>
    <insert id="insertStudents">
        insert into t_student values
        <foreach collection="list" item="stu" separator=",">
            (null,#{stu.no},#{stu.name},#{stu.sex},null,null,#{stu.school},null,#{stu.class_id},1,#{stu.email},null,#{stu.phone},now(),null,0)
        </foreach>
    </insert>
    <update id="updateStudent" parameterType="Student">
        update t_student set no=#{no},name=#{name},class_id=#{class_id},sex=#{sex},email=#{email},phone=#{phone},qq=#{qq},cardno=#{cardno},school=#{school},education=#{education},birthday=#{birthday},createdate=#{createdate} where id = #{id}
    </update>
    <update id="deleteStudent">
        update t_student set del = 1 where id = #{id}
    </update>

    <select id="getTotalCount" resultType="java.lang.Integer">
        select count(id) from t_student where del=0
        <if test="name!=null and name!=''">
            and name like #{name}
        </if>
        <if test="class_id!=0">
            and class_id = #{class_id}
        </if>
    </select>
    <resultMap id="StudentMap" type="Student">
        <id column="id" property="id"/>
        <result column="no" property="no"/>
        <result column="name" property="name"/>
        <result column="sex" property="sex"/>
        <result column="birthday" property="birthday"/>
        <result column="cardno" property="cardno"/>
        <result column="school" property="school"/>
        <result column="education" property="education"/>
        <result column="class_id" property="class_id"/>
        <result column="flag" property="flag"/>
        <result column="email" property="email"/>
        <result column="qq" property="qq"/>
        <result column="phone" property="phone"/>
        <result column="createdate" property="createdate"/>
        <result column="photo" property="photo"/>
        <association property="classes" javaType="Classes">
            <id column="id" property="id"/>
            <result column="class_name" property="className"/>
        </association>
    </resultMap>
    <select id="getStudentByPage" resultMap="StudentMap">
        select s.*,tc.class_name from t_student s inner join t_class tc on s.class_id = tc.major_id where s.del=0
        <if test="name!=null and name!=''">
            and s.name like #{name}
        </if>
        <if test="class_id!=0">
            and s.class_id = #{class_id}
        </if>
        limit #{pageStart},#{pageSize}
    </select>
    <select id="getAllClasses" resultType="com.qzy.bean.Classes">
        select c.id,c.class_name as className from t_class c where class_delete = 0;
    </select>
    <select id="getExcelStudents" resultMap="StudentMap">
        select s.*,tc.class_name from t_student s inner join t_class tc on s.class_id = tc.major_id where s.del=0
        <if test="name!=null and name!=''">
            and s.name like #{name}
        </if>
        <if test="class_id!=0">
            and s.class_id = #{class_id}
        </if>
    </select>
    <select id="selectStudentById" resultType="com.qzy.bean.Student">
        select * from t_student where id = #{id}
    </select>
    <select id="getStudentById" resultMap="StudentMap">
        select s.*,tc.class_name from t_student s inner join t_class tc on s.class_id = tc.major_id where s.del=0 and s.id=#{id}
    </select>
</mapper>